@font-face {
    font-family: "font-portada";
    src: url("./resources/fonts/BebasNeue-Regular.ttf");
  }

  @font-face {
    font-family: "font-prin";
    src: url("./resources/fonts/Roboto-BlackItalic.ttf");
  }
  @font-face {
    font-family: "font-sec";
    src: url("./resources/fonts/RobotoCondensed-Italic.ttf");
  }

:root{
    font-size: 62.5%;
    --main-bg-color: #3F0D12;
    --main-bg-light: #A71D31;
    --shadow: #8D775F;
    --ecru: #D5BF86;
    --light: #F1F0CC;
}

  
  
html,body,.overlay {
    box-sizing: border-box;

    width: 100%;
    height: 100%;
    margin: 0%;
  }
  *, *:before, *:after {
    box-sizing: inherit;
  }
html{
    padding: 10px;
    background-attachment:fixed;
    background-size: cover;
    background-image:url(./resources/bg.jpg);
    color: #F1F0CC;
    font-family: font-sec,sans-serif;

}
div *{
    height: 100%;
    width: 100%;

}


.layout{
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: min(100px,20%) auto;
}
.flex-rows{
    display:flex;
}
.filtros{
    flex:1;
}
.bienvenida{
    flex:1;

}
.flex-rows{
}
.controles button{
    background-color: transparent;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
    overflow: hidden;
    outline: none;
}
.controles button img{
    
    filter:invert();
    width: 50px;
    height: 50px;
}
.filtros,.bienvenida,.controles{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: font-portada;
    font-size: 5rem;
}
select{
    background: none; 
    top: 100%;
  left: 0;
  right: 0;
  text-align: center;
  font-family: font-prin;
  font-size: 3rem;
  border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
}
select:after {
    border-color: #fff transparent transparent transparent;
  }
  select option{
    background-color:#8D775F
  }
.controles{
    flex:1;
    justify-content: space-around;
}
.controles *{
    display:flex;
    align-items: center;
    justify-content: center;
}
.exposicion {
        display: grid;
        grid-template-columns: repeat(auto-fit,minmax(300px, 1fr));
        gap: 35px;
        padding-bottom: 10px;
}
.exposicion>*{
    box-shadow: 10px 5px 5px black;
    font-size: 2rem;
    opacity: 0.8;
    aspect-ratio: 0.8;
   }
   .setAtTop *{
       width: 0px;
       height: 0px;
   }
   .texto-oculto{
       display: flex;
   }
   .texto-oculto *{
    visibility: hidden;
    flex-direction: column;
}
   
.texto-visible{
    display:flex;
    flex-direction: column;
    background-size: cover;
    background-image: linear-gradient(rgba(0,0,0,0.9), rgba(0,0,0,0.9)), url("https://upload.wikimedia.org/wikipedia/commons/thumb/4/46/Question_mark_%28black%29.svg/2048px-Question_mark_%28black%29.svg.png");
}
.descrip{
    padding-left: 20px;
    display: flex;
    align-items: center;
}
.centro{
    flex:1;
    display: flex;
    justify-content: center;
    text-align: center;
}
.delete{
    display: flex;
    width: 50px;
    height: 50px;
    filter:invert(1);

}
.edit{
    filter:invert(1);
    margin-right: 20px;
    display: flex;
    width: 50px;
    height: 50px;
}
.imagebg{
    background-image: url("https://upload.wikimedia.org/wikipedia/commons/thumb/4/46/Question_mark_%28black%29.svg/2048px-Question_mark_%28black%29.svg.png");
    background-size: cover;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    text-align: end;
  }
.escondido{
    display:none;
}
.formulario{
        position: fixed;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        overflow: auto;
        background-color: rgb(0, 0, 0);
        background-color: rgba(0, 0, 0, 0.4);
}
.formulario-content{
        margin: 25px auto 100px auto;
        border: 1px solid #999;
        height: 85%;
        width: 50%;
}
form {
    font-size:1.5rem;
    display:flex;
    flex-direction: column;
    padding: 25px;
    box-shadow: 0 2px 5px #f5f5f5;
    background: #eee;
  }
form *{
    flex:1;
}
form :first-child{
    display: flex;
}
form :first-child *{
    margin: 0;
}
form h1,form p{
    color: #3F0D12;
    margin: 0;
    margin-bottom: 5px;
}
form div input{
    height: 50%;
    width: 80%;
}
form div *{
    color:black;
    height: 2ch;
}

.unselectable{
    user-select: none;
        -moz-user-select: none;
        -khtml-user-select: none;
        -webkit-user-select: none;
        -o-user-select: none;
}